<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add an Experience</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/adminNavbar.css" />
    <link rel="stylesheet" href="/css/adminPanel.css" />
    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="flex container flexStart">
      <%- include('../includes/admin-nav.ejs') %>
      <main>
        <section class="dashboard-head flex">
          <div class="dashboard-head-primary flex">
            <i class="fa-solid fa-bars-staggered"></i>
            <h1>New Experience</h1>
          </div>

          <div class="dashboard-head-secondary flex gap">
            <div class="head-img">
              <img
                id="profileIcon"
                onclick="toggleProfileCard()"
                src="/images/admin.png"
                alt=""
              />
            </div>
          </div>
        </section>

        <div id="profileCard">
          <div class="head-detail">
            <img src="/images/admin.png" alt="" />
            <p><%=admin.firstName + ' ' + admin.lastName %></p>
            <form action="/admin/admin-logout" method="post">
              <button type="submit">Logout</button>
            </form>
          </div>
        </div>

        <section class="dashboard list">
          <form
            class="product-form"
            action="/admin/add-experience"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="form-control">
              <label for="name">Experience Name</label>
              <input type="text" name="name" id="name" />
            </div>

            <div class="form-control">
              <label for="address"> Address</label>
              <input type="text" name="address" id="address" />
            </div>

            <div class="form-control">
              <label for="PhoneNumber">Phone Number</label>
              <input type="tel" name="number" id="number" />
            </div>

            <!-- <div class="form-control">
              <label for="rating">Restaurant Rating</label>
              <input type="number" name="rating" id="rating" />
            </div> -->

            <div class="form-control">
              <label for="city">City:</label>
              <select name="city" id="city">
                <option>Select City</option>
                <option value="Lahore">Lahore</option>
                <option value="Karachi">Karachi</option>
                <option value="Islamabad">Islamabad</option>
              </select>
            </div>

            <div class="form-control">
              <label for="category">Category:</label>
              <select name="category" id="category">
                <option>Select Category</option>
                <option value="Shopping">Shopping</option>
                <option value="Recreation">Recreation</option>
                <option value="Gym">Gym</option>
                <option value="Heritage & Culture">Heritage & Culture</option>
                <option value="Sports">Sports</option>
                <option value="Parks & Wellness">Parks & Wellness</option>
                <option value="Others">Others</option>
              </select>
            </div>

            <div class="form-control">
              <label for="imageURL"> Image:</label>

              <input
                type="file"
                name="imageURL[]"
                id="ImageURL"
                accept="image/*"
                multiple
              />
            </div>

            <div class="form-control desc">
              <label for="description">Description:</label>
              <textarea
                name="description"
                id="Description"
                rows="5"
                placeholder="Description Here!"
              ></textarea>
            </div>

            <div class="confirmBtn">
              <button class="addBtn" id="confirm" type="submit">
                Add Experience
              </button>
            </div>
          </form>
        </section>
      </main>
    </section>
    <script src="/scripts/admin.js"></script>
  </body>
</html>
