<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogIn</title>
    <link rel="stylesheet" href="/css/signup.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- ----------------- Main Section ---------------------- -->
    <main class="container flex">
      <div
        class="main-left"
        style="margin-bottom: 5rem !important; margin-top: 3rem !important"
      >
        <img
          src="/images/access_account 1.png"
          alt=""
          style="object-fit: contain; height: 70%"
        />
      </div>
      <div class="main-right">
        <section class="center">
          <h1>Admin Login</h1>

          <form action="/admin/postadmin-login" method="post">
            <label for="email">Email</label>
            <br />
            <input
              class="width margin"
              type="email"
              name="email"
              id=""
              placeholder="Email"
            />
            <br />
            <label for="password">Password</label><br />
            <input
              class="width margin-less"
              type="password"
              name="password"
              id=""
              placeholder="Password"
            /><br />

            <button class="submit-btn" type="submit">Submit</button>
          </form>
          <% if(errorMessage) {%>
          <h4 class="errorMessage">
            <i class="fa-solid fa-triangle-exclamation"></i> * <%=errorMessage%>
          </h4>
          <%}%>
        </section>
      </div>
    </main>

    <!-- ----------------- Scripts ---------------------- -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <script src="/scripts/menu.js"></script>
  </body>
</html>
