<!-- ----------------- Footer Section ---------------------- -->
<footer>
  <div class="container">
    <div class="footer-main flex container gap">
      <div class="about-us">
        <ul>
          <h2>About US</h2>
          <li>
            Experience Pakistan is a platform for all type of events and
            entertainments in major cities of Pakistan.
          </li>
          <li>
            <img class="stripe" src="./images/stripe.svg" alt="" />
          </li>
        </ul>
      </div>
      <div class="helpful-links">
        <ul>
          <h2>Helpful Links</h2>
          <li><a href="/home">Experience Pakistan</a></li>
          <li><a href="/search-by-city">Search By City</a></li>
          <li><a href="/aboutUs">About Us</a></li>
          <li><a href="/contactUs">Contact Us</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="/faqs">Frequently Asked Questions</a></li>
        </ul>
      </div>

      <div class="eventsByCity">
        <ul>
          <h2>Events By City</h2>
          <li><a href="/city?city=Lahore">Lahore</a></li>
          <li><a href="/city?city=Karachi">Karachi</a></li>
          <li><a href="/city?city=Islamabad">Islamabad</a></li>
        </ul>
      </div>

      <div class="useful-links">
        <ul>
          <h2>Useful Links</h2>
          <li><a href="/complaint">Submit a Complaint</a></li>
          <li><a href="/suggestion">Give a Suggestion</a></li>
        </ul>
      </div>
    </div>

    <div class="container footer-secondary flex gap">
      <div class="copyright">
        <p class="flex">
          <img src="./images/Copyright.png" alt="" />Copyright ©️ 2024
          Experience Pakistan. All Rights Reserved
        </p>
      </div>

      <div class="external-link flex wrapper">
        <a href="/termcondition">Terms & Conditions</a>
        <a href="/privacypolicy">Privacy Policy</a>
        <a href="/cookiepolicy">Cookie Policy</a>
      </div>
    </div>
  </div>
</footer>
<!-- ----------------- Scripts ---------------------- -->
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>

<script src="./scripts/menu.js"></script>

<script>
  function toggleMenu() {
    const menu = document.querySelector(".menu");
    menu.style.left = menu.style.left === "-1500px" ? "0" : "-1500px";

    const bars = document.querySelectorAll(".bar");
    bars.forEach((bar) => bar.classList.toggle("change"));
  }
</script>

<script>
  window.onload = function () {
    AOS.init();
  };
</script>

<script>
  function closeCard() {
    var successCard = document.getElementById("successCard");
    successCard.style.display = "none";
  }
</script>
