<section
  class="CTA"
  data-aos="fade-up"
  data-aos-anchor-placement="bottom-bottom"
  data-aos-duration="1000"
>
  <div class="news">
    <h2>NEWSLETTER SIGN UP</h2>
    <p>Get latest updates on things to do in Pakistan</p>
    <form action="/newsletter" method="post">
      <input
        type="email"
        placeholder="Your E-Mail Address"
        name="email"
        required
      />
      <button>Subscribe</button>
    </form>
  </div>
</section>
