<header class="">
  <div class="container flex gap">
    <div class="bar menu-toggle" onclick="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </div>

    <div class="flex flex-center">
      <a href="/home"
        ><img
          class="header-logo tablet-logo"
          src="/images/newlogo.png"
          alt=""
          hidden
      /></a>
    </div>

    <nav class="primary-nav flex gap menu" style="left: -1500px">
      <a href="/home"
        ><img
          class="header-logo laptop-logo"
          src="/images/newlogo.png"
          alt="Experience Pakistan Logo"
      /></a>

      <ul class="flex gap menu-nav">
        <li class="<%=path === 'dashboard' ? 'active' : ' ' %>">
          <a href="/organizer/dashboard">Home</a>
        </li>

        <li class="<%=path === 'organizeevent' ? 'active' : ' ' %>">
          <a href="/organizer/organize-an-event">Organize an Event</a>
        </li>

        <li class="<%=path === 'eventlist' ? 'active' : ' ' %>">
          <a href="/organizer/events">View Events List</a>
        </li>
        <span class="actionButtons hidden gap">
          <a class="actionButtons-1" href="/organizer/logout"> Logout</a>
        </span>
      </ul>
    </nav>

    <div class="actionButtons flex menu-2 menu-fix">
      <a class="actionButtons-1" href="/organizer/logout"> Logout</a>
    </div>
  </div>
</header>
