body {
  margin: 0;
  padding: 0;
}

.slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-top: 1.25rem;
}

.slide:visited {
  color: #000 !important;
}

.slide {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  transition: transform 0.5s ease;
  color: #000 !important;
  align-items: center;
}

.image-container {
  flex: 0 0 60%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.content-container {
  flex: 0 0 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.content-container h2 {
  margin-top: 0;
}

button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #ff7010;
}

.content-container > * {
  margin-bottom: 1rem;
}

.content-container h2 {
  font-size: 1.5rem !important;
  margin-bottom: 1.125rem !important;
}

.content-container span {
  color: var(--primary-color) !important;
  font-weight: bold !important;
}

@media (max-width: 768px) {
  .slide {
    flex-direction: column;
  }
  .image-container,
  .content-container {
    flex: 0 0 0;
  }

  .content-container {
    border-left: 0;
    border-top: 1px solid var(--primary-color);
  }
}
