body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.chat-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  border: 1px solid #ffb987;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: none;
}

.chat-header {
  background-color: #f47725;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky; /* Make header sticky */
  top: 0; /* Stick to the top of the chat container */
  z-index: 1; /* Ensure header is above chat messages */
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.chat-container {
  max-height: 300px;
  padding: 10px;
  /* Specify color of the scrollbar */
  position: relative; /* Set position to relative */
  display: flex; /* Set display to flex */
  flex-direction: column;
  overflow-y: scroll;
}
.chat-container button {
  display: block;

  padding: 10px 20px;
  margin-bottom: 10px; /* Added margin to separate buttons vertically */
  border: none;
  background-color: #ffdaa3; /* Changed button color */
  color: #1a1a1a;
  border-radius: 5px; /* Added border radius */
  cursor: pointer;
  scrollbar-width: thin; /* Specify width of the scrollbar */
  scrollbar-color: #f47725;
}

.chat-container button:hover {
  background-color: #ff951b; /* Added hover effect */
}
.chat-container::-webkit-scrollbar {
  width: 8px; /* Set width of the scrollbar */
}

/* Style for the scrollbar thumb */
.chat-container::-webkit-scrollbar-thumb {
  background-color: #f47725; /* Set color of the scrollbar thumb */
  border-radius: 4px; /* Set border radius of the scrollbar thumb */
}

/* Style for the scrollbar thumb on hover */
.chat-container::-webkit-scrollbar-thumb:hover {
  background-color: #f6a874; /* Set color of the scrollbar thumb on hover */
}
.chat-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%; /* Limit message width */
  word-wrap: break-word; /* Wrap long words */
  display: inline-block;
}

.input-container {
  display: flex;
  padding: 10px;
  gap: 8px;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ffb987;
  border-radius: 5px 0 0 5px;
}

.input-container button {
  padding: 10px 20px;
  border: none;
  background-color: #f47725; /* Changed button color */
  color: #fff;
  border-radius: 5px; /* Added border radius */
  cursor: pointer;
  margin-top: 10px; /* Added margin to separate buttons vertically */
}

.open-btn {
  position: fixed;
  bottom: 35px; /* Adjusted position from top to bottom */
  right: 20px; /* Adjusted position from left to right */
  background-color: #f47725; /* Changed button color */
  color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px; /* Added border radius */
  cursor: pointer;
  margin-left: 3px;
  transition: transform 0.3s ease;
}

.open-btn:hover {
  transform: translateY(-5px) !important;
}

/* Changed chat message color */
.sent {
  background-color: #f47; /* Changed message color */
  color: #fff;
  align-self: flex-end;
  margin-left: auto;
}

.received {
  background-color: #f0f0f0;
  align-self: flex-start;
}
