
.error404 {
  flex-direction: column;
  text-align: center;
}

.error404 img {
  width: 70%;
  margin-left: 10rem;
}
.error404-first {
  padding: 0 1em;
}
.error404-second {
  margin-bottom: 5rem;
}

@media screen and (max-width: 514px) {
header {
  padding: 0 1.5rem;
}
main img {
  height: 100%;
}

.hidden-1 {
  display: none;
}

.hidden-2 {
  display: block;
}
.about-us {
  width: 88%;
  min-width: 250px;
  margin: 0 auto;
}
main div {
  padding: 1.7em 1.6em 1.7em 1.2em;
}

.external-link {
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
padding: 0.4em 0.2em 0.4em;
left: -30px;
}

.right {
right: 0 !important;
/* max-width: 100%; */
left: auto;
}

.bottom {
bottom: 0;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: center;
line-height: 25px;
white-space: nowrap;
font-size: 0.875rem;
font-weight: 700;
text-transform: uppercase;
}

.dropdown-content a:hover {
background-color: #ddd;
/* border-bottom: 1px solid var(--primary-color); */
}

.dropdown:hover .dropdown-content {
display: block;
}

.drop-text {
font-size: 1rem;
font-weight: 700;
text-transform: uppercase;
}

.dropbtn i {
color: #000;
}
