<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      }
      h1 {
        text-align: center;
        margin-bottom: 30px;
      }
      form {
        text-align: center;
      }
      input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
      }
      input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #f47725;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
      input[type="submit"]:hover {
        background-color: #d45a1a;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Email Verification</h1>
      <form id="verification-form">
        <input
          type="text"
          name="verification_code"
          id="verification-code"
          placeholder="Enter verification code"
          required
        />
        <input type="submit" value="Verify" />
      </form>
    </div>

    <script>
      document
        .getElementById("verification-form")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent form submission

          // Get the inputted verification code
          var enteredCode = document.getElementById("verification-code").value;
          var expectedCode = "<%=verificationCode%>";

          // Check if the entered code matches the expected code
          if (enteredCode === expectedCode) {
            // Redirect to login page if verification succeeds
            window.location.href =
              "https://experience-pakistan.onrender.com/user/verified";
          } else {
            // If verification fails, display an error message or handle it as needed
            alert("Verification failed. Please enter the correct code.");
            // You can also reset the form here if needed
          }
        });
    </script>
  </body>
</html>
