<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success | Experience Pakistan</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/headerFooter.css" />
    <link rel="stylesheet" href="/css/userSignup.css" />
    <link rel="stylesheet" href="/css/contactUs.css" />
    <link rel="stylesheet" href="/css/homeheader.css" />

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main class="container email-response">
      <div>
        <img src="./images/order-confirm.png" alt="" />
      </div>

      <h2>Ticket Purchased Successfully!</h2>
      <p>Your tickets are added in your profile. Thanks 😊</p>
      <button class="ok-btn" onclick="window.location.href='/user/tickets'">
        Okay <i class="fa-regular fa-circle-check"></i>
      </button>
    </main>
  </body>
</html>
