<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookie Policy | Experience Pakistan</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/headerFooter.css" />
    <link rel="stylesheet" href="/css/aboutUS.css" />
    <link rel="stylesheet" href="/css/terms&conditions.css" />
    <link rel="stylesheet" href="/css/homeheader.css" />

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->
    <%- include('../includes/header.ejs') %>
    <!-- ----------------- Hero Section ---------------------- -->
    <main class="terms container wrapper">
      <h1>Cookie Policy</h1>
      <p>
        Welcome to Experience Pakistan! This Cookie Policy explains how we use
        cookies and similar technologies on our website and the services offered
        thereon.
      </p>

      <section>
        <h2>1. What are Cookies?</h2>
        <p>
          Cookies are small text files that are placed on your device by
          websites you visit. They are widely used to remember information about
          your visit and preferences, such as login credentials, website
          settings, and browsing history. This can improve your browsing
          experience by making websites function more efficiently and deliver
          content tailored to your interests.
        </p>
      </section>

      <section>
        <h2>2. What types of Cookies do we use?</h2>
        <p>We use different types of cookies on our website:</p>
        <ol>
          <li>
            <strong>Essential Cookies: </strong>These cookies are strictly
            necessary for the operation of our Website and Services. They allow
            you to navigate the website, access secure areas, and use essential
            functionalities. These cookies do not collect any personal
            information about you.
          </li>
          <li>
            <strong>Performance Cookies:</strong>
            These cookies collect information about how you use our Website,
            such as the pages you visit, how long you spend on a page, and any
            errors you encounter. This information helps us improve the
            performance of our Website and Services and provide a better user
            experience.
          </li>
          <li>
            <strong>Functionality Cookies:</strong>
            These cookies allow us to remember your preferences and settings,
            such as your preferred language or region. This helps us personalize
            your experience on the Website and Services.
          </li>
          <li>
            <strong>Targeting/Advertising Cookies:</strong>
            These cookies may be placed by us or third-party advertising
            partners. They are used to build a profile of your interests and
            show you relevant advertisements on other websites.
          </li>
        </ol>
      </section>

      <section>
        <h2>3. How to Manage Cookies:</h2>
        <p>You can control and manage cookies in several ways:</p>
        <ol>
          <li>
            <strong>Browser Settings:</strong>
            Most web browsers allow you to control or disable cookies through
            your browser settings. This may limit your ability to use certain
            features of our Website and Services.
          </li>
          <li>
            <strong> Cookie Consent Banner:</strong>
            You may see a cookie consent banner when you first visit our
            website. You can use this banner to control your cookie preferences.
          </li>
        </ol>
      </section>

      <section>
        <h2>4. Your Consent:</h2>
        <p>
          By using our Website and Services, you consent to our use of cookies
          as described in this Cookie Policy.
        </p>
      </section>

      <section>
        <h2>5. Changes to this Policy:</h2>

        <p>
          We may revise this Cookie Policy at any time by posting the revised
          Policy on the Website. You are responsible for checking the Cookie
          Policy periodically for updates.
        </p>
      </section>

      <section>
        <h2>6. Contact Us:</h2>
        <p>
          If you have any questions about this Cookie Policy, please contact us
          at
          <a href="mailto:experiencepakistan@gmail.com"
            >experiencepakistan@gmail.com</a
          >.
        </p>
        <p>Updated by Experience Pakistan Team on on April 1, 2024.</p>
      </section>
      <!-- ss -->
    </main>
    <!-- ----------------- Call to Action Section ---------------------- -->

    <%- include('../includes/newsletter.ejs') %>

    <!-- ----------------- Footer Section ---------------------- -->

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
