<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/headerFooter.css" />
    <link rel="stylesheet" href="/css/chat.css" />
    <link rel="stylesheet" href="/css/aboutUS.css" />
    <link rel="stylesheet" href="/css/userSignup.css" />
    <link rel="stylesheet" href="/css/headerFooter.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->
    <%- include('../includes/header.ejs') %>
    <!-- ----------------- Hero Section ---------------------- -->

    <main class="container">
      <img
        class="hero-img"
        src="images/Hero.png"
        alt="Combine Image of Faisal Mosque, Minar-e-Pakistan, Mazar-e-Quaid"
      />
      <img class="hidden-1" src="/images/hero-small.png" alt="" />
      <img class="hidden-2" src="/images/hero-mobile.png" alt="" />

      <div data-aos="fade-up" data-aos-duration="1500">
        <h1>Experience Pakistan</h1>
        <p>
          Experience Pakistan is like a one-stop shop app where you can find all
          the cool events, places to eat, and fun stuff happening in Pakistan's
          big cities. It's like having your own personal guide to the best
          things to do in town! Let's Explore!
        </p>
        <button onclick="window.location.href='/search-by-city'">
          Events <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </main>

    <!-- ----------------- Cities Section ---------------------- -->

    <section class="container Cities">
      <div>
        <h1>Choose A City</h1>
        <div class="city flex wrapper">
          <div
            class="city-1 city-all"
            data-aos="flip-left"
            data-aos-duration="500"
          >
            <a href="/city?city=Karachi">
              <img src="images/karachi.png" alt="Karachi" />
              <div class="city-detail">
                <h2 class="city-1-name">Karachi</h2>
                <div class="city-desc flex">
                  <p>Learn More</p>
                  <i class="fa-solid fa-arrow-right"></i>
                </div></div
            ></a>
          </div>

          <div
            class="city-2 city-all"
            data-aos="flip-left"
            data-aos-duration="1000"
          >
            <a href="/city?city=Lahore">
              <img src="images/lahore.png" alt="Lahore" />
              <div class="city-detail">
                <h2 class="city-1-name">Lahore</h2>

                <div class="city-desc flex">
                  <p>Learn More</p>
                  <i class="fa-solid fa-arrow-right"></i>
                </div></div
            ></a>
          </div>

          <div
            class="city-3 city-all"
            data-aos="flip-left"
            data-aos-duration="1500"
          >
            <a href="/city?city=Islamabad">
              <img src="images/islamabad.png" alt="Islamabad" />
              <div class="city-detail">
                <h2 class="city-1-name">Islamabad</h2>

                <div class="city-desc flex">
                  <p>Learn More</p>
                  <i class="fa-solid fa-arrow-right"></i>
                </div></div
            ></a>
          </div>
        </div>
      </div>
    </section>

    <!-- ----------------- FAQ's Section ---------------------- -->

    <section class="faq container wrapper">
      <h1 class="home-faq">Frequently Asked Questions</h1>
      <div class="faq-container wrapper">
        <div class="faq-item" data-aos="fade-up">
          <h3 class="faq-question flex">
            How do I find events on Experience Pakistan?
            <i class="fa-solid fa-chevron-down"></i>
          </h3>
          <div class="faq-answer">
            <p>
              Finding events is easy! Our user-friendly Navigation bar allows
              you to easily go to the Events page of Karachi, Lahore or
              Islamabad. You can also browse through featured events or explore
              different event categories to discover exciting new experiences.
            </p>
          </div>
        </div>

        <div class="faq-item" data-aos="fade-up">
          <h3 class="faq-question flex">
            How do I buy Ticket for an event?
            <i class="fa-solid fa-chevron-down"></i>
          </h3>
          <div class="faq-answer">
            <p>
              The Ticket purchasing process is simple and secure. Once you find
              an event you're interested in, click the "Book Tickets" button and
              follow the on-screen instructions. You might need to create an
              account on Experience Pakistan if you haven't already.
            </p>
          </div>
        </div>

        <div class="faq-item" data-aos="fade-up">
          <h3 class="faq-question flex">
            What happens after I buy Ticket for an event?
            <i class="fa-solid fa-chevron-down"></i>
          </h3>
          <div class="faq-answer">
            <p>
              You'll receive a confirmation email with all the event details and
              any further instructions from the event organizer. You can also
              access your registration details and manage them through your
              Experience Pakistan account.
            </p>
          </div>
        </div>

        <div class="faq-item" data-aos="fade-up">
          <h3 class="faq-question flex">
            What types of payment methods are accepted for event Ticket booking?
            <i class="fa-solid fa-chevron-down"></i>
          </h3>
          <div class="faq-answer">
            <p>
              The payment method accepted for event booking is Credit Card or
              Debit Card using Stripe.
            </p>
          </div>
        </div>

        <!-- End -->
      </div>
    </section>
    <!-- ----------------- Contact US Section ---------------------- -->
    <section class="contact-home container wrapper-big">
      <h1>Contact Us</h1>
      <form action="/contact-us" method="post">
        <div class="main-form">
          <span class="width-small" data-aos="fade-up">
            <label for="fname">First Name</label><br />
            <input
              class="width-small"
              type="text"
              name="fname"
              id=""
              placeholder="First"
              required=""
          /></span>

          <span class="width-small" data-aos="fade-up">
            <label for="lname">Last Name</label><br />
            <input
              class="width-small"
              type="text"
              name="lname"
              id=""
              placeholder="Last"
              required=""
          /></span>
        </div>

        <div class="main-form">
          <span class="width-small" data-aos="fade-up">
            <label for="email">Email</label>
            <br />
            <input
              class="width-small"
              type="text"
              name="email"
              id=""
              placeholder="Email"
              required=""
            />
          </span>

          <span class="width-small" data-aos="fade-up">
            <label for="phone">Phone Number</label>
            <br />
            <input
              class="width-small"
              type="tel"
              name="phone"
              id=""
              placeholder="Phone Number"
              required=""
            />
          </span>
        </div>
        <br />
        <label data-aos="fade-up-right" for="description"
          >How can we help you?</label
        >
        <br />
        <textarea
          data-aos="fade-up-right"
          id="description"
          class="width margin"
          name="description"
          rows="4"
          cols="50"
          placeholder="Type your message..."
          required=""
        ></textarea>

        <br />

        <button class="submit-btn btn-small">
          Get in touch
          <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
        </button>
      </form>
    </section>
    <!-- ----------------- Call to Action Section ---------------------- -->

    <%- include('../includes/newsletter.ejs') %>

    <!-- ----------------- Footer Section ---------------------- -->

    <%- include('../includes/footer.ejs') %>

    <!-- --------------------------- Chat Bot ------------------ -->
    <div id="chat-popup" class="chat-popup">
      <div class="chat-header">
        Experience Pakistan
        <button class="close-btn" onclick="closeChat()">X</button>
      </div>

      <div class="chat-container" id="chat-container">
        <!-- Pre-fed questions as buttons -->
        <button onclick="askQuestion('What is Experience Pakistan?')">
          What is Experience Pakistan?
        </button>
        <button onclick="askQuestion('How To Book Tickets')">
          How to Book Tickets?
        </button>
        <button onclick="askQuestion('How Can we Signup?')">
          Where to Signup?
        </button>
        <button onclick="askQuestion('host an Event?')">Host An Event?</button>
      </div>

      <div class="input-container">
        <input
          type="text"
          id="input-message"
          placeholder="Type your message..."
        />
        <button onclick="sendMessage()">Send</button>
      </div>
    </div>
    <button class="open-btn" onclick="openChat()">How May I help you?</button>

    <script>
      document
        .getElementById("input-message")
        .addEventListener("keypress", function (event) {
          if (event.key === "Enter") {
            sendMessage();
          }
        });

      function openChat() {
        document.getElementById("chat-popup").style.display = "block";
        document.querySelector(".open-btn").style.display = "none";
      }

      function closeChat() {
        document.getElementById("chat-popup").style.display = "none";
        document.querySelector(".open-btn").style.display = "block";
      }
      function askQuestion(question) {
        addMessage("sent", question);

        // Send pre-fed question to server
        fetch("/question", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ question }),
        })
          .then((response) => response.json())
          .then((data) => {
            // Display server response
            if (data.website) {
              addMessage("received", data.text, data.website);
            } else {
              console.log(data.response);
              addMessage("received", data.response);
            }

            const chatContainer = document.getElementById("chat-container");
            chatContainer.scrollTop = chatContainer.scrollHeight;
          })
          .catch((error) => console.error("Error:", error));
      }

      function sendMessage() {
        const message = document.getElementById("input-message").value;
        addMessage("sent", message);

        // Send user message to server
        fetch("/question", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ question: message }),
        })
          .then((response) => response.json())
          .then((data) => {
            // Display server response
            console.log(data);
            addMessage("received", data.response);
            const chatContainer = document.getElementById("chat-container");
            chatContainer.scrollTop = chatContainer.scrollHeight;
          })
          .catch((error) => console.error("Error:", error));

        document.getElementById("input-message").value = ""; // Clear input field
      }

      function addMessage(type, text, web = null) {
        console.log(text);
        const chatContainer = document.getElementById("chat-container");
        const chatMessage = document.createElement("div");
        chatMessage.classList.add("chat-message", type);

        // Create a paragraph element for the text content
        const textElement = document.createElement("p");
        textElement.textContent = text;
        chatMessage.appendChild(textElement); // Append the text paragraph to the chat message

        // Check if web link is provided and not null
        if (web !== null) {
          // Create an anchor element for the web link
          const linkElement = document.createElement("a");
          linkElement.href = web; // Set the href attribute to the provided web link
          linkElement.textContent = web; // Set the text content of the link to the web link
          chatMessage.appendChild(linkElement); // Append the link to the chat message
        }

        // Append the chat message to the chat container
        chatContainer.appendChild(chatMessage);
      }
    </script>

    <script>
      const faqItems = document.querySelectorAll(".faq-item");
      const icon = document.getElementById("changeIcon");
      faqItems.forEach((item) => {
        item.addEventListener("click", function () {
          item.classList.toggle("active");
          const answer = item.querySelector(".faq-answer");
          answer.classList.toggle("show");
        });
      });
    </script>
  </body>
</html>
