<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy | Experience Pakistan</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/headerFooter.css" />
    <link rel="stylesheet" href="/css/aboutUS.css" />
    <link rel="stylesheet" href="/css/terms&conditions.css" />
    <link rel="stylesheet" href="/css/homeheader.css" />

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->
    <%- include('../includes/header.ejs') %>
    <!-- ----------------- Hero Section ---------------------- -->
    <main class="terms container wrapper">
      <h1>Privacy Policy</h1>
      <p>
        Welcome to Experience Pakistan! This Privacy Policy explains how we
        collect, use, and disclose information from and about users of our
        website and the services offered thereon.
      </p>

      <section>
        <h2>1. Information We Collect:</h2>
        <p>
          We collect information from you in several ways when you use the
          Website and Services:
        </p>
        <ol>
          <li>
            <strong>Information you provide:</strong> This includes information
            you submit during account creation, event listing, registration, or
            when you contact us. This may include your name, email address,
            phone number, location information, and any other information you
            choose to provide.
          </li>
          <li>
            <strong>Information collected automatically:</strong> We may collect
            certain information automatically when you use the Website and
            Services. This may include your IP address, browser type, device
            information, operating system, browsing history on our platform, and
            search queries.
          </li>
        </ol>
      </section>

      <section>
        <h2>2. Use of Information:</h2>
        <p>
          We use the information we collect for various purposes, including:
        </p>
        <ol>
          <li>
            <strong>Providing and improving the Services:</strong>
            We use your information to operate, maintain, and improve the
            Website and Services. This includes processing event listings,
            registrations, and facilitating communication between event
            organizers and attendees.
          </li>
          <li>
            <strong>Account management:</strong>
            We use your information to manage your account and provide customer
            support.
          </li>
          <li>
            <strong> Sending you communications:</strong>
            We may use your information to send you emails about your account,
            event updates, promotional offers, and other relevant information.
            You can opt-out of receiving marketing communications by following
            the unsubscribe instructions in the emails we send.
          </li>
        </ol>
      </section>

      <section>
        <h2>3. Sharing of Information:</h2>
        <p>
          We may share your information with third-party service providers who
          help us operate the Website and Services. These service providers are
          obligated to protect your information and use it only for the purposes
          we specify.
        </p>
        <p>
          We may also disclose your information if required by law, to enforce
          our Terms & Conditions, or to protect the rights, safety, or property
          of ourselves or others.
        </p>
      </section>

      <section>
        <h2>4. Data Security:</h2>
        <p>
          We take reasonable steps to protect the information you provide from
          unauthorized access, disclosure, alteration, or destruction. However,
          no internet transmission or electronic storage method is completely
          secure.
        </p>
      </section>

      <section>
        <h2>5. Cookies:</h2>

        <p>
          We may use cookies and other tracking technologies to collect and
          store certain information. Cookies are small data files that are
          stored on your device when you visit a website. You can disable
          cookies in your browser settings, but this may limit your ability to
          use certain features of the Website and Services.
        </p>
      </section>

      <section>
        <h2>6. Your Choices:</h2>
        <p>You have choices regarding your information:</p>
        <ol>
          <li>
            <strong> Accessing and Updating Your Information:</strong>
            You can access and update your account information through your
            account settings.
          </li>
          <li>
            <strong>Contact Preferences:</strong>
            You can opt-out of receiving marketing communications by following
            the unsubscribe instructions in the emails we send.
          </li>
        </ol>
      </section>

      <section>
        <h2>7. Links to Other Websites:</h2>
        <p>
          Our Website and Services may contain links to other websites. We are
          not responsible for the privacy practices of other websites. We
          encourage you to read the privacy policies of other websites you
          visit.
        </p>
      </section>

      <section>
        <h2>8. Changes to this Policy:</h2>
        <p>
          We may revise this Privacy Policy at any time by posting the revised
          Policy on the Website. You are responsible for checking the Privacy
          Policy periodically for updates.
        </p>
      </section>

      <section>
        <h2>9. Contact Us:</h2>
        <p>
          If you have any questions about this Privacy Policy, please contact us
          at
          <a href="mailto:experiencepakistan@gmail.com"
            >experiencepakistan@gmail.com</a
          >.
        </p>
        <p>Updated by Experience Pakistan Team on on April 1, 2024.</p>
      </section>
      <!-- ss -->
    </main>
    <!-- ----------------- Call to Action Section ---------------------- -->

    <%- include('../includes/newsletter.ejs') %>

    <!-- ----------------- Footer Section ---------------------- -->

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
