<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms & Conditions | Experience Pakistan</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/headerFooter.css" />
    <link rel="stylesheet" href="/css/aboutUS.css" />
    <link rel="stylesheet" href="/css/terms&conditions.css" />
    <link rel="stylesheet" href="/css/homeheader.css" />

    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <!-- ----------------- Header ---------------------- -->
    <%- include('../includes/header.ejs') %>
    <!-- ----------------- Hero Section ---------------------- -->
    <main class="terms container wrapper">
      <h1>Terms and Conditions</h1>
      <p>
        Welcome to Experience Pakistan! These Terms and Conditions govern your
        access to and use of the Experience Pakistan website and the services
        offered thereon.
      </p>

      <section>
        <h2>1. Acceptance of Terms:</h2>
        <p>
          By accessing or using the Website or Services, you agree to be bound
          by these Terms. If you disagree with any part of these Terms, you may
          not access or use the Website or Services.
        </p>
      </section>

      <section>
        <h2>2. Event Organizer Accounts:</h2>
        <ol>
          <li>
            To create an account as an Event Organizer, you must submit your
            information for review.
          </li>
          <li>
            Experience Pakistan reserves the right to review all organizer
            applications before granting access. This review process helps
            ensure the legitimacy and credibility of event organizers on our
            platform.
          </li>
          <li>
            Upon successful review, you will receive an email notification
            confirming your account activation and allowing you to use the
            platform's organizer features.
          </li>
        </ol>
      </section>

      <section>
        <h2>3. User Conduct:</h2>
        <p>
          In addition to the previously mentioned user conduct guidelines, Event
          Organizers specifically agree to:
        </p>
        <ol>
          <li>
            Provide accurate and complete information during the account
            application process.
          </li>
          <li>
            Comply with all applicable laws and regulations related to event
            organization in your region.
          </li>
          <li>Uphold ethical practices in event promotion and ticket sales.</li>
        </ol>
      </section>

      <section>
        <h2>4. Event Listings and Content Approval:</h2>
        <ol>
          <li>
            All event listings submitted by Event Organizers are subject to
            review by Experience Pakistan administrators.
          </li>
          <li>
            This review process ensures adherence to our content guidelines and
            helps maintain the quality and legitimacy of events listed on the
            platform.
          </li>
          <li>
            Event listings will be published only after successful review and
            approval by the administrators.
          </li>
        </ol>
      </section>

      <section>
        <h2>5. Event Ticket Cancellation and Refunds:</h2>

        <ol>
          <li>
            Users who wish to cancel their event registration and request a
            refund must contact Experience Pakistan through the "Contact Us"
            form on the website.
          </li>
          <li>
            User must contact at least 5 hours prior to the scheduled event
            start time.
          </li>
          <li>
            Experience Pakistan administrators will handle the cancellation
            request and communicate directly with the user regarding the refund
            process. Refunds will be processed within a 2-week period following
            the confirmed cancellation.
          </li>
        </ol>
      </section>

      <section>
        <h2>6. Event Cancellation by Organizer:</h2>
        <ol>
          <li>
            Event Organizers must notify Experience Pakistan of any event
            cancellation at least 1 day prior to the scheduled event.
          </li>
          <li>
            This notification can be submitted through the platform's designated
            "Contact Us" form.
          </li>
        </ol>
      </section>

      <section>
        <h2>7. Experience Pakistan Service Fees:</h2>
        <ol>
          <li>
            Experience Pakistan offers a free tier for Event Organizers to list
            basic events.
          </li>
          <li>
            For premium features and functionalities, a 20% service fee will be
            applied to the event ticket sales.
          </li>
          <li>
            Experience Pakistan reserves the right to modify its fee structure
            at any time. We will provide reasonable notice of any fee changes
            through the platform or website.
          </li>
        </ol>
      </section>

      <section>
        <h2>8. Disclaimers:</h2>
        <p>
          The Website and Services are provided "as is" and without warranties
          of any kind, express or implied. Experience Pakistan disclaims all
          warranties, including but not limited to, warranties of
          merchantability, fitness for a particular purpose, and
          non-infringement.
        </p>
      </section>

      <section>
        <h2>9. Limitation of Liability:</h2>
        <p>
          Experience Pakistan shall not be liable for any damages arising out of
          or related to your use of the Website or Services. This includes, but
          is not limited to, direct, indirect, incidental, consequential, and
          punitive damages.
        </p>
      </section>

      <section>
        <h2>10. Termination:</h2>
        <p>
          Experience Pakistan may terminate your access to the Website or
          Services at any time, for any reason, with or without notice.
        </p>
      </section>

      <section>
        <h2>11. Governing Law:</h2>
        <p>
          This agreement will be governed by and construed in accordance with
          the laws of Pakistan. Any disputes arising out of or in connection
          with this agreement shall be subject to the exclusive jurisdiction of
          the courts in Pakistan.
        </p>
      </section>

      <section>
        <h2>12. Entire Agreement:</h2>
        <p>
          These Terms constitute the entire agreement between you and Experience
          Pakistan regarding your use of the Website and Services.
        </p>
      </section>

      <section>
        <h2>13. Changes to Terms:</h2>
        <p>
          Experience Pakistan may revise these Terms at any time by posting the
          revised Terms on the Website. You are responsible for checking the
          Terms periodically for updates.
        </p>
      </section>

      <section>
        <h2>13. Contact Us:</h2>
        <p>
          If you have any questions about these Terms, please contact us at
          <a href="mailto:experiencepakistan@gmail.com"
            >experiencepakistan@gmail.com</a
          >.
        </p>
        <p>Updated by Experience Pakistan Team on on April 1, 2024.</p>
      </section>
      <!-- ss -->
    </main>
    <!-- ----------------- Call to Action Section ---------------------- -->

    <%- include('../includes/newsletter.ejs') %>

    <!-- ----------------- Footer Section ---------------------- -->

    <%- include('../includes/footer.ejs') %>
  </body>
</html>
